{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <h1>Villes de France</h1>
    </div>
    {% if not regions %}
        <h2>No data ??</h2>
        <a href="{{ path('admin-init') }}" class="btn btn-info">Click me!</a>
    {% endif %}
        <div class="row">
            <div class="col-4">
                <div class="list-group" id="list-tab" role="tablist">
    {% for region in regions %}
                    <a class="list-group-item list-group-item-action" id="list-{{ region.name }}-list" data-toggle="list" href="#list-{{ region.name }}" role="tab" aria-controls="{{ region.name }}">{{ region.name }}</a>
    {% endfor %}

                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    {% for region in regions %}
                    <div class="tab-pane fade show" id="list-{{ region.name }}" role="tabpanel" aria-labelledby="list-{{ region.name }}-list">
                        {% for department in region.departments %}
                            <li><a href="{{ path('home_list_department',{'slug':department.slug}) }}">{{ department }}</a> </li>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>


{% endblock %}
